@import "../../theme.scss";

.EmployeeCard__Container {
  width: 50vw;

  .EmployeeCard__Grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 0.175rem solid $border_color;
    padding: 1.25rem;
    .EmployeeCard__Text {
      > p {
        padding: 0.5rem 0;
      }
    }
    .EmployeeCard__Options {
      display: flex;

      .editLink {
        padding: 0rem 0.25rem;
        text-decoration: underline;
        color: $link_color;
      }

      > p {
        padding: 0rem 0.25rem;
        text-decoration: underline;
        color: $link_color;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .EmployeeCard__Container {
    width: 100vw;
    .EmployeeCard__Text {
      > p {
        font-size: 0.75rem;
      }
    }
  }
  .EmployeeCard__Options {
    margin-right: 2rem;
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .EmployeeCard__Container {
    width: 100%;
    .EmployeeCard__Text {
      > p {
        font-size: 0.75rem;
      }
    }
  }
  .EmployeeCard__Options {
    margin-right: 2rem;
    font-size: 0.75rem;
  }
}
