@import "../../theme.scss";

.listHeading {
  padding: 7rem 6rem !important;
}

.EmployeeList__GridContainer {
  display: flex;
  justify-content: center;
  margin-top: 4.5rem;
  .EmployeeList__Grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;

    .EmployeeList__Top {
      display: flex;
      justify-content: space-around;
      align-items: center;

      > p {
        font-size: 1.075rem;
        margin-left: 2.5rem;
      }

      .EmployeeList__Button {
        background-color: $secondary_color;
        padding: 1rem 2.75rem;
        border: none;
        border-radius: 0.5rem;
        color: white;
        transition: 0.5s ease;

        &:hover {
          transform: scale(1.025);
        }
      }
    }
  }
}
.EmployeeList__Wrapper {
  margin: auto;
  padding-top: 4rem;
}

.divider {
  color: #d3d2d7 !important;
}

@media screen and (max-width: 720px) {
  .listHeading {
    padding: 4rem 3rem !important;
  }
  .EmployeeList__GridContainer {
    .EmployeeList__Grid {
      width: 100% !important;
      .EmployeeList__Top {
        > p {
          font-size: 0.75rem;
          padding: 1rem;
        }
        .EmployeeList__Button {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
