.Form__Container {
  > div {
    padding: 2.5rem 6rem;
    > p {
      padding: 1rem 0rem;
      font-weight: bold;
    }
  }
}

.checkbox {
  display: flex;
  padding: 0.5rem 0rem;
  > input {
    margin-right: 0.25rem;
  }
}
