@import "../../theme.scss";

.Form__container {
  > div {
    padding: 2.5rem 6rem;
    > h2 {
      margin-bottom: 0.5rem;
    }
    > p {
      padding: 1rem 0rem;
      font-weight: bold;
    }
    > span {
      margin-left: 0.5rem;
      color: rgba(255, 0, 0, 0.779);
    }
  }
}

// Checkboxes

.checkbox__container {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  height: 100%;
  > p {
    margin-left: 0.5rem;
  }
}

.checkbox__normal {
  display: block !important;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0;
}

input[type="checkbox"] {
  display: none;
}

.checkbox__label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 50%;
  border: 2px solid $input_borderColor;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  background: #646974;
}

// Inputs

.input__text {
  padding: 0.7rem 9.5rem 0.7rem 0.5rem;
  border: 0.125rem solid $input_borderColor;
  border-radius: 0.5rem;
  width: 10rem;
}

.input__email {
  @extend .input__text;
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
  width: 25rem;
}

.input__mobileContainer {
  display: flex;
  > div {
    background-color: #dee3e5;
    border: 0.125rem solid $input_borderColor;
    border-right: none;
    border-radius: 0.5rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    height: 2.5rem;
    width: 3.9rem;
    z-index: 2;

    > p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-weight: bold;
    }
  }
  .input__mobile {
    @extend .input__text;
    margin-left: -4rem;
    padding: 0.7rem 2rem 0.7rem 5rem;
    width: 6rem;
    z-index: 1;
  }
}

.input__address {
  @extend .input__text;
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
  width: 30rem;
}

.contractType__container {
  margin: 1rem 0 0 0;
  > p {
    padding: 1rem 0rem;
    font-weight: bold;
  }
}

.input__hours {
  @extend .input__text;
  padding: 0.7rem 0.75rem 0.7rem 0.5rem;
  width: 4.5rem;
}

.Form__buttonContainer {
  display: flex;
}
.Form__cancelButton {
  padding: 0.75rem 3.5rem;
  border: none;
  border-radius: 0.5rem;
  border: 0.125rem solid #7478828a;
  transition: 0.5s ease;
  font-weight: bold;
  &:hover {
    transform: scale(1.025);
  }
}
.Form__saveButton {
  @extend .Form__cancelButton;
  background-color: $secondary_color;
  border: none !important;
  color: white;
  margin-right: 1rem;
  font-weight: 400 !important;
}

// Dates

.date__wrapper {
  display: flex;
  margin-bottom: 0.75rem;
}

.date__labelContainer {
  display: grid;
  grid-template-columns: 1fr;
  > p {
    margin-bottom: 0.25rem;
    font-weight: bold;
  }
  > input {
    @extend .input__text;
    padding: 0.7rem 0.75rem 0.7rem 0.5rem;
    width: 4rem;
  }
  > select {
    @extend .input__text;
    padding: 0.7rem 0.75rem 0.7rem 0.5rem;
    width: 11.5rem;
    margin: 0rem 1rem;
  }

  .months {
    margin-left: 1.15rem;
  }
}

.error__message {
  color: rgba(255, 0, 0, 0.823);
}

.employeeStatus__wrapper {
  margin-bottom: -4rem;
}
