.backButton__container {
  padding-top: 4rem;

  .backButton {
    margin-top: 5rem;
    padding: 6rem;
    text-decoration: none;
    color: #7d8087;
  }
  .back {
    text-decoration: underline;
    font-weight: 300;
    margin-left: 0.25rem;
  }
}
